// Typography Rules

.container {
    max-width: calc(1296px + 24px);
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;

    @include tablet {
        padding-left: 36px;
        padding-right: 36px;
    }

    @include mobile {
        padding-left: 13px;
        padding-right: 14px;
    }
}